.App {
  text-align: center;
  font-family: "Inter", sans-serif;
}

html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  width: 6px;
  height: 6px;
  background: rgb(32, 32, 32);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-green);
  border-radius: 6px;  
}

body,
#root,
.App {
  display: flex;
  flex: 1 1 auto;
}

.App {
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 600px) {
  .task-grip {
    position: absolute;
    left: -15px;
    top: 9px;
    color: rgb(255, 255, 255, 0.5);
    transition: 500ms ease-in-out;
    transition-delay: 1s;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Start of Anchor styling */

:root {
  --orange_text: #ff8c00;

  --light-orange: #fb8b00;
  --mid-orange: #fa7711;
  --dark-orange: #f34508;

  --highlight_color: #61dafb;
  --accent1: #2e8b57;
  --accent2: #2574a9;
  --accent3: #006400;

  --midnight-layer1: rgb(13, 15, 28);
  --midnight-layer2: rgb(28, 30, 41);
  --midnight-layer3: rgb(82, 85, 92);

  --auth-welcome: rgb(45, 204, 116);
  --auth-form: rgb(40, 40, 40);
  --button: rgb(52, 180, 135);
  --button-hover: rgb(36, 150, 110);

  --panel-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.6);
  --task-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  --popup-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.1);
  --button-shadow: 0px 5px 5px rgb(0, 0, 0, 0.5);
  --font-gray: #8c979a;

  /* Color Palete Colors */
  --primary-green: #34b487;
  --bgrnd-green: #1b5c45;
  --accent-green: #74c4a8;
  --base-gray: rgb(31, 31, 31);
  --base-gray2: rgb(25,25,25);
  --mid-gray: rgb(40, 40, 40);
  --mid-gray2: rgb(45, 45, 45);
  --top-gray: rgb(54, 54, 54);
  --top-gray2: #3b3b3b; /*(59,59,59)*/
  --text-gray1: rgb(128, 134, 139);

  /* General Properties */
  --timeblock-pop-h: 175px;
  --timeblock-pop-w: 150px;
}

.no-flickr {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.invisible {
  display: none;
}
.visible {
  /* position: absolute; */
  background-color: transparent;
}

/* General Page Styling */

.spacer-buckets {
  width: 14px;
}

.page-config {
  min-height: 100vh;
  height: 100%;
  display: flex;
}
.flex-spacer-5 {
  display: flex;
  flex-grow: 5;
  align-content: flex-start;
}
.flex-spacer-4 {
  display: flex;
  flex-grow: 4;
  align-content: flex-start;
}
.flex-spacer-3 {
  display: flex;
  flex-grow: 3;
  align-content: flex-start;
}
.flex-spacer-2 {
  display: flex;
  flex-grow: 2;
  align-content: flex-start;
}
.flex-spacer-1 {
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
}

.flex-spacer-end {
  flex-grow: 4;
  justify-content: flex-end;
  margin-right: 1.2rem;
}
.item-center {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.highlight:hover {
  color: var(--accent1);
}

.btn-text {
  background: none;
  padding: 4px 8px 0px 8px;
  margin: 0px 5px 0px 5px;
  color: var(--button);
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn-text:hover {
  color: var(--button-hover);
  text-decoration: underline;
}

.btn-sm {
  padding: 4px 8px 4px 8px;
  margin: 5px;
  background-color: var(--button);
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-sm:hover {
  background-color: var(--button-hover);
}

.btn-md {
}
.btn-lg {
  padding: 10px 96px 10px 96px;
  margin: 5px;
  background-color: var(--button);
  border-radius: 10px;
  color: white;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.font-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.font-body {
  font-size: 14px;
  font-weight: 200;
}

.draggable {
  cursor: move;
  z-index: 101;
}

/* auth Styling */
.main-auth {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-gray);
}
.auth-panel {
  display: flex;
  background: var(--mid-gray);
  color: white;
  border-radius: 15px;
}
.auth-content {
  margin: 60px;
  width: 100%;
}
.auth-element {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  gap: 10px;
  width: 100%;
}
.auth-logo {
  align-items: center;
}
.auth-element img {
  width: 70px;
  height: 70px;
}
.auth-element h2 {
  margin: 0;
}
.form-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-element {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin: 9px 0;
}
.form-item {
  margin: 15px 0px 10px 0px;
}
.form-item input {
  transition: top ease 0.2s;
  top: 0;
  position: relative;
}
.form-item input:hover {
  top:-2px;
}
.form-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.auth-input {
  height: 28px;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  box-sizing: border-box;
  padding: 0px 10px;
  transition: ease 0.2s;
}
.auth-input:focus, .auth-input:active {
  border:1px solid var(--primary-green);
}

.auth-label {
  position: relative;
  opacity: 0.4;
  color: white;
}

/* NavBar styling */

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
}

.navbar-brand h2 {
  margin: 0;
  cursor: pointer;
}

.navbar-logo {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.navbar-start {
  position: fixed;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mid-gray);
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  z-index: 3;
  transition: all 0.7s ease-in;
  padding: 10px 30px;
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--accent1);
}

.navbar-page {
  position: relative;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.navbar-auth {
  position: relative;
  padding: 8px 15px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border: 1px solid var(--primary-green);
  border-radius: 10px;
  margin: 0 10px;
  transition: ease-in-out 0.2s;
}

.navbar-auth:hover {
  background-color: var(--primary-green);
}

.navbar-hello {
  display: flex;
  position: relative;
  font-size: 18px;
  padding: 0px 0px 0px 6px;
  color: white;
}

.navbar-page:hover {
  color: var(--accent1);
}

.navbar-user-icon {
  position: relative;
  display: flex;
  align-self: flex-start;
  color: var(--orange_text);
  font-size: 20px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 20px;
}

.logout-btn {
  position: relative;
  background-color: var(--top-gray);
  border: none;
  border-radius: 8px;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 5px 8px 5px;
  margin: 0px 10px 0px 10px;
}

.logout-btn:hover {
  color: var(--accent1);
}

/* POPUP STYLING */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup-inner {
  position: relative;
  padding: 20px 10px 20px 20px;
  width: 100%;
  max-width: 370px;
  height: 420px;
  background-color: var(--mid-gray);
  color: white;
  border-radius: 20px;
}
.popup-close {
  margin-top: 10px;
}

.invisible-popup {
  visibility: hidden;
  position: absolute;
  top: 0px;
  z-index: -1;
}
.visible-popup {
  position: relative;
}

/* Timeblocking Categories Popup Styling */

.popup-timeblock-container {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(-45%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.popup-timeblock-relative {
  position: relative;
  left: 132%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--mid-gray2);
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(---popup-shadow);
  margin-right: 10px;
  animation: fadeInRight 0.5s;
  user-select: none;
  pointer-events: auto;
}

.popup-timeblock-relative input {
  outline: none;
  border: none;
  padding: 2px 5px;
  box-sizing: border-box;
  margin: 5px 0;
}

.popup-timeblock-arrow {
  position: absolute;
  top: 45%;
  left: -4px;
  width: 0;
  height: 0;
  transform: translate(-46%, -50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--mid-gray2);
}

.popup-timeblock-bckgrnd {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 105;
  top: calc(var(--timeblock-pop-h) / 2 * -1 + 12);
  transform: translateX(23px);
  width: var(--timeblock-pop-w);
  height: var(--timeblock-pop-h);
  /* background-color: var(--mid-gray2);
  border: 2px;
  border-radius: 8px;
  box-shadow: var(--popup-shadow); */
}

.popup-timeblock-text {
  width: 125px;
  margin: 2px 0px 2px 0px;
  border-radius: 6px;
  z-index: 120;
}
.popup-timeblock-text:focus {
  outline: solid 1px var(--primary-green);
}


.picker-compact {
  position: absolute;
  right: 100%;
  z-index: 3000;
}

/* -------------------------- */

/* MODAL STYLING */

#modal {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.fa-sml{
  font-size: 1rem;
  text-align: center;
}

.m-btn{
  display: flex;
  position: relative;
  border: solid 2px var(--primary-green);
  font-weight: 300;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  
}
.m-btn:hover{
background-color: var(--primary-green);
cursor: pointer;
box-shadow: 0px 1px 2px rgb(0,0,0,0.5);
}

.m-btn-sml{
  width: 38px;
  height: 20px;
}
.m-btn-lrg{
  width: 206px;
  height: 25px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal {
  position: relative;
  padding: 20px 10px 20px 20px;
  width: 100%;
  max-width: 250px;
  height: 50%;
  max-height: 400px;
  background-color: var(--base-gray2);
  color: white;
  border-radius: 10px;
  z-index: 1001;
}
.modal-container {
  display: flex;
  flex-direction: column;
}
.modal-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 270px;
}
.modal-row-content {
  min-width: 250px;
  min-height: 265px;
  align-items: flex-start;
}
.modal-header {
  display: flex;
  font-weight: 300;
  position: relative;
  /* background-color: rgb(0,0,0,0.5); */
  padding: 2px 12px 2px 0px ;
  border-radius: 5px;
}
.modal-group {
  width: 240px;
  height: 30px;
  margin: 0px 10px 15px 0px;
  /* background-color: var(--mid-gray2); */
  border-radius: 5px;
  /* box-shadow: 0px 1px 2px rgb(0,0,0,0.5); */
}
.modal-element {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
}

.modal-item {
display: flex;
align-items: center;
padding: 0px 6px 0px 0px;
}


.nested-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
}
.nested-modal-timeblock {
  position: fixed;
  width: 100%;
  max-width: 380px;
  height: 25%;
  max-height: 240px;
  background-color: var(--mid-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 1004;
}

.modal-input {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  border: 2px solid rgb(31,31,31);
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  height: 20px;
  width: 150px;
}

.modal-input:focus {
  outline: none;
  border: 2px solid var(--primary-green);
  border-radius: 5px;
}

/* Custom Classes for specific items in Modal(s) */
.color-picker-location {
  position: absolute;
  left: -88%;
  top: 13%;
}
.color-picker-arrow {
  position: absolute;
  top: 45%;
  right: -14px;
  width: 0;
  height: 0;
  transform: translate(-46%, -50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  z-index: 1010;
}
.compact-picker{
background-color: white;
border: transparent;
}



/* -------------------------- */

/* Landing Page Styling */

.landing-page {
  background-color: var(--midnight-layer1);
  /* background: radial-gradient(var(--midnight-layer1), var(---midnight-layer1)); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-section{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.landing-section1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 180px 30px 30px 30px;
}
.landing-section2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 30px 30px 30px;
  margin-top: 320px;
}

.landing-section4{
  display: flex;
  flex-direction: column;
  padding: 120px 0px 60px 0px;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1024px) {
  .landing-section{
    flex-direction: column;
  }
}

.landing-element{
  color: white;
}

.landing-item{
color: white;
font-family: "Inter", sans-serif;
font-weight: 300;
font-size:  2rem;
}
.landing-taskpanel-header-pos{
  position: relative;
  transform: translateX(-200px) translateY(-150px);
}
.landing-item-F {
color: var(--primary-green);
font-family: "Inter", sans-serif;
font-weight: 400;
}
.landing-item-T {
font-family: "Inter", sans-serif;
font-weight: 400;
transform: translateX(150px);
}
.landing-item-taskpanel-text{
  text-align: left;
  padding: 50px 0px 0px 150px;
  width: 350px;
  font-weight: 300;
  font-size: 1.75rem;
  color: rgb(112,112,112);
}
.landing-logo{
  width: 400px;
  height: 400px;
  cursor: pointer;
}
.landing-call2action{
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 200px 0px 0px 0px;
}
.landing-btn-signup{
  margin: 120px 0px 0px 0px;
}
.landing-tasks-image{
  width: 500px;
  height: 400px;
  position: relative;
  transform: translateX(100px) translateY(-75px);
}

.landing-roadmap-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.roadmap-item-R{
  color: var(--primary-green);
  font-family: "Inter", sans-serif; 
  font-weight: 400;
}
.roadmap-item-M{
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.upper-roadmap-text, .lower-roadmap-text{
  color: white;
}
.landing-timeline-image{
  display: flex;
  position: relative;
  width: 100%;
}
/* Side Bar styling */
.left-sidebar-sm {
  position: relative;
  width: 5%;
  min-height: 100vh;
  left: 0px;
  background-color: var(--mid-gray);
  float: left;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.left-sidebar {
  position: relative;
  width: 15%;
  min-height: 100vh;
  min-width: 210px;
  left: 0px;
  background-color: var(--mid-gray);
  float: left;
  box-shadow: 0.5px 0px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.left-sb-logo {
  font-size: 24px;
  padding: 5px 10px 10px 5px;
  background-color: var(--primary-green);
  color: white;
  box-shadow: 0.5px 0px 5px rgba(0, 0, 0, 0.6);
  /* border-bottom: solid var(--accent3) 0.5px; */
  margin-bottom: 25px;
}
.left-sb-navigation {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.left-sb-element {
  display: flex;
  position: relative;
  align-items: flex-start;
  font-size: 18px;
  margin: 0px;
  color: white;
  /* margin: 5px 10px 25px 10px; */
  padding: 10px;
  cursor: pointer;
}

.left-sb-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--accent1);
  transition: border-radius 1ms ease;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.left-sb-element:hover::before,
.left-sb-element:focus::before {
  transform: scaleX(1);
}

/* Buckets Styling */
.bucket-container {
  margin-top: 3rem;
}
.bucket-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buckets {
  position: relative;
}

.buckets-title {
  display: flex;
  background-color: var(--bgrnd-green);
}

.buckets-header {
  display: flex;
  justify-content: flex-start;
  padding: 0rem 0rem 0rem 0.5rem;
  font-size: 22px;
  color: white;
  cursor: default;
}

.bucket-item-edit {
  display: flex;
  justify-content: flex-start;
  outline: none;
  color: white;
  border: none;
  border-bottom: solid 2px var(--top-gray);
  flex-grow: 4;
}

.bucket-item {
  color: white;
  cursor: pointer;
  white-space: nowrap;
}
.bucket-item:hover {
  color: var(--accent1);
}
.buckets-add {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  cursor: pointer;
}
.buckets-add:hover {
  opacity: 0.5;
}

.buckets-popup {
  width: 500px;
  height: 500px;
}
.bucket-list-sizing {
  overflow-y: auto;
  overflow-x: hidden;
  height: 325px;
}

.bucket-list-pop {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-right: 3px;
}
.bucket-elements-pop {
  display: flex;
  flex-direction: column;
}
.bucket-element-pop {
  display: flex;
  flex-direction: row;
  margin: 11px 0px 11px 0px;
  min-height: 22px;
}
.bucket-item-pop {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
.bucket-icons-pop {
  display: flex;
  flex-grow: 4;
  justify-content: flex-end;
  align-items: center;
}

.bucket-add-pop {
  display: flex;
}

.selected {
  color: var(--accent1);
}

/* Main Styling */

.bug-button{
  position: fixed;
  z-index: 10000;
  color: white;
  background-color: var(--mid-orange);
  padding: 6px 6px;
  border-radius: 5px;
  right: 35px;
  bottom: 45px;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.main {
  background-color: var(--base-gray);
  float: right;
  min-height: 100vh;
  width: 100%;
}

.main2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 0rem 1rem 0rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0rem 1rem 0rem;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0rem 1rem 0rem;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem 1rem 0rem;
}
.toolbar-container {
  display: flex;
  flex-direction: row;
  background-color: var(--mid-gray);
  border-top: solid 2px var(--top-gray);
  padding: 5px;
  align-items: center;
}

.toolbar-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 5px 10px 5px 10px;
}
.toolbar-element:hover {
  background-color: var(--base-gray);
  border-radius: 8px;
  color: var(--button);
  cursor: pointer;
  user-select: none;
}
.toolbar-item {
  padding: 0px 3px 0px 3px;
}

.toolbar-sort {
  display: flex;
  margin-right: 1%;
}
/* .menu-sort:hover {
justify-content: flex-start;
background-color: var(--base-gray);
border-radius: 8px;
color: var(--button);
cursor: pointer;
} */

.add-task-btn {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 2px 10px 2px;
  text-align: center;
}

.add-task-angle {
  /* padding: 10px 2px 10px 2px; */
  transform: translateY(2px);
  color: white;
  font-size: 14px;
}

.task-editor-area {
  margin: 20px 10px 10px 10px;
  padding: 10px 5px 5px 5px;
}
.add-task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.add-task-submit {
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 2px 10px 2px;
  text-align: center;
}

.add-task-container textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 10px 2px 10px 2px;
}

.add-task-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.add-task-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.hover:hover {
  color: var(--primary-green);
}

/* Task Styling */
.fade-out {
  width: 5px;
  opacity: 0.3;
  background: rgba(31, 31, 31, 0.3);
}

.task-edit {
  color: white;
}
.task-edit:hover {
  color: var(--accent1);
}
/* Task List Styling */

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-shell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.task-container {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.task-item {
  display: flex;
  flex-direction: column;
  padding: 6px 12px 6px 6px;
  border: solid 0.5px var(--mid-gray);
  border-radius: 6px;
  box-shadow: var(--task-shadow);
  color: white;
  min-height: 50px;
  max-height: 500px;
  min-width: 25%px;
  width: 95%;
  background-color: var(--mid-gray2);
}
.task-element {
  margin: 0px 0px 0px 10px;
  align-self: flex-start;
  text-align: left;
}
.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-title {
  margin-right: auto;
  overflow-x: hidden;
  cursor: pointer;
}
.task-body {
  display: flex;
  flex-direction: column;
}
.task-details {
  white-space: pre-wrap;
  padding: 4px 0px 4px 16px;
}
.task-lastrow {
  display: flex;
  flex-direction: row;
}
.task-duedate,
.task-reminder {
  display: flex;
  flex-direction: row;
}
.duedate {
  margin: 5px 10px 5px 10px;
  padding: 3px 5px 3px 5px;
  border: solid 1px var(--top-gray2);
  background-color: var(--top-gray);
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-green);
}
.reminder {
  margin: 5px 10px 5px 10px;
  padding: 3px 5px 3px 5px;
  border: solid 1px var(--top-gray2);
  background-color: var(--top-gray);
  border-radius: 5px;
  cursor: pointer;
  color: var(--light-orange);
}

.duedate:hover,
.reminder:hover {
  border: solid 1px var(--mid-gray);
  background-color: var(--top-gray2);
  color: rgb(255, 255, 255, 0.8);
}

.task-grip-invisible {
  position: absolute;
  left: 5px;
  top: 9px;
  z-index: -1;
  color: transparent;
}

.task-grip {
  position: absolute;
  left: -2px;
  top: 9px;
  color: rgb(255, 255, 255, 0.5);
  transition: 0.1s ease-in-out;
}

.task-grip:hover {
  position: absolute;
  color: var(--accent-green);
}

.task-icons {
  margin: 4px;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;
}

/* Need to fix the translation work so that we don't get */
/* The flicker effect on all elements. */

/* .invisible-icons {
    position: relative;
    z-index: -10;
    transition: 1.5s ease-in-out;
  }
  
  .task-icons-hover {
    position: relative;
    z-index: 1;
    transition: 1.5s ease-in-out;
  } */

.task-icon {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1rem;
}

.task-buckets {
  display: flex;
  flex-direction: row;
}

.task-bucket {
  margin: 5px 10px 5px 10px;
  padding: 3px 5px 3px 5px;
  border: solid 1px var(--top-gray2);
  background-color: var(--top-gray);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.5);
}
.task-bucket:hover {
  border: solid 1px var(--mid-gray);
  background-color: var(--top-gray2);
  color: rgb(255, 255, 255, 0.8);
}
.task-delete {
  color: white;
}
.task-delete:hover {
  color: var(--accent1);
}
.task-complete {
  font-size: min(1rem);
}
.task-complete:hover {
  cursor: pointer;
  user-select: none;
}

/* Dropdown Styling */

.dropdown-content {
  position: absolute;
  z-index: 3;
  background-color: var(--mid-gray);
  opacity: 0.9;
}

.dropdown-content-items {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-items:hover {
  color: var(--accent1);
  cursor: pointer;
}


/* TimeBlock section POST Kanishq */

.table-blockz {
  margin-top: 1rem;
  table-layout: fixed;
  width: 68rem;
}

.table-blockz, .table-data, .table-header, .time-cell {
  border: 1px solid var(--top-gray2);
  color: var(--text-gray1);
  border-collapse: collapse;
}

.table-data, .table-header {
  width: calc(100% / 7);
}

.table-data {
  height: 1px;
}

.table-data input {
  display: flex;
}

.table-header {
  padding: 0.4rem 1rem;
  box-sizing: border-box;
  width: 100%;
}

.table-header {
  background-color: var(--mid-gray);
}

.table-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  clear: both;
  /* border: solid 1px black; */
}

.table-row-drag {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  background-color: var(--accent-green);
}

.table-fill {
  color: white;
  user-select: none;
}

.admin-cell {
  display: flex;
  justify-content: center;
  color: var(--text-gray1);
  cursor: default;
}
.increment-cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--text-gray1);
}
.increment-cell:hover{
  color: var(--primary-green);
}

.time-cell {
  padding: 5px 0px 5px 0px;
}

.cell {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  cursor: white;
}

.cell-notediting {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.readonly-cell {
  position: relative;
  text-align: left;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;
  padding: 1px;
  line-height: normal;
  vertical-align: middle;
  font-size: 0.9rem;
}

.editable-cell {
  all: unset;
  outline: none;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  vertical-align: middle;
  line-height: normal;
  font-size: 0.9rem;
  text-align: left;
  cursor: pointer;
}

.table-navigator {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.table-nav-btn, .table-nav-today {
  outline: none;
  border: none;
  fill: white;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  transition: ease-in-out 0.2s;
  color: white;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.current-week {
  color: white;
  font-size: 1.5rem;
  margin: 0.8rem 0 0;
}

.table-nav-btn:hover, .table-nav-today:hover {
  background-color: var(--mid-gray2);
}

.draggable-div {
  width: 100%;
  height: 4px;
  z-index: 400;
  cursor: row-resize;
}

.draggable-div-dragging {
  background-color: var(--accent-green);
  border-radius: 5px;
}

.draggable-div:hover {
  background-color: var(--accent-green);
  border-radius: 5px;
}


.drag-listener {
  position: absolute;
}

.drag-listener-not {
  position: absolute;
  pointer-events: none;
}

.metrics-table-container{
  background-color: var(--mid-gray);
  width: 32rem;
  height: 20rem;
  box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 5.2rem;
}
.metrics-header{
  font-weight: 300;
  color: white;
  font-size: 1.25rem;
  padding: 10px;
}
.metrics-totals{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: .8rem;
  color: white;
}
.metrics-totals-border{
  border: solid 2px var(--text-gray1);
  border-radius: 5px;
  padding: 3px 5px;
  display: flex;
  flex-direction: row;
}

.metrics-column-titles-container {
  border: solid 2px var(--text-gray1);
  border-radius: 5px;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  color: white;
  align-items: center;
}
.metrics-title{
  margin: 5px 5px;
}
.color-title-metrics{
  border: solid 2px var(--text-gray1);
  width: 4rem;
  height: 1rem;
  border-radius: 5px;
}

/* TimeBlock section PRE Kanishq */

/* 
.table-blockz {
  display: flex;
  z-index: 0;
  width: 80%;
  height: 75%;
}

.table-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  clear: both;
}
.table-row {
  display: flex;
  width: 100%;
  border: 1px solid gray;
}
.table-row-drag {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  background-color: var(--accent-green);
}

.table-fill {
  color: white;
  user-select: none;
}

.admin-cell {
  display: flex;
  justify-content: center;
  color: var(--text-gray1);
  cursor: default;
}
.increment-cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--text-gray1);
}
.increment-cell:hover{
  color: var(--primary-green);
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.cell:hover {
  background-color: var(--primary-green);
}
.readonly-cell {
  position: relative;
  text-align: left;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;
  padding: 1px;
  line-height: normal;
  vertical-align: middle;
  font-size: 0.9rem;
}

.editable-cell {
  all: unset;
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0;
  padding: 1px;
  vertical-align: middle;
  line-height: normal;
  font-size: 0.9rem;
  text-align: left;
  cursor: pointer;
}

.draggable-div {
  position: relative;
  width: 100%;
  height: 5px;
  color: transparent;
}
.draggable-div:hover {
  cursor: n-resize;
  color: transparent;
}
 */
