.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Start of Anchor styling */

:root {
  --orange_text: #ff8c00;
  --highlight_color: #61dafb;
  --accent1: #2e8b57;
  --accent2: #2574A9;
  --base-gray: rgb(31,31,31) ;
  --mid-gray: rgb(40,40,40) ;
  --top-gray: rgb(54,54,54) ;
  --accent3: #006400;

}

.invisible {
  display: none;
}

.logout-btn {
  position: relative;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--accent1);
}

/* NavBar styling */
.navbar-container-start {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mid-gray);
  box-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.5);
  z-index: 3;
  transition: all .7s ease-in;
}

.navbar-page {
  position: relative;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.navbar-page-spc {
  display: flex;
  flex-grow: 4;
  align-content: flex-start;
}

.navbar-hello {
  display: flex;
  position: relative;
  font-size: 18px;
  padding: 0px 0px 0px 6px;
  color: white;
}

.navbar-page:hover {
  color: var(--accent1);
}

.navbar-user-icon {
  position: relative;
  display: flex;
  align-self: flex-start;
  color: var(--orange_text);
  font-size: 20px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 20px;
}

/* Side Bar styling */

.left-sidebar {
  position: fixed;
  width: 15%;
  height: 100vh;
  left: 0px;
  background-color: var(--mid-gray);
  float: left;
  box-shadow: 0.5px 0px 1px rgba(0,0,0,0.2);
  z-index: 2;
}
.left-sb-logo {
  font-size: 24px;
  padding: 5px 10px 10px 5px;
  background-color: var(--accent1);
  color: white;
  box-shadow: 0.5px 0px 5px rgba(0,0,0,0.6);
  /* border-bottom: solid var(--accent3) 0.5px; */
  margin-bottom: 25px;

}
.left-sb-navigation {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.left-sb-element {
  display: flex;
  position: relative;
  align-items:flex-start;
  font-size: 18px;
  margin: 0px;
  color: white;
  /* margin: 5px 10px 25px 10px; */
  padding: 10px ;
}

.left-sb-element::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--accent1);
  transition: border-radius 1ms ease;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.left-sb-element:hover::before,
.left-sb-element:focus::before {
  transform: scaleX(1);
}

/* Main Styling */

.main {
  background-color: var(--base-gray);
  float: right;
  height: 100vh;
  width: 85%;
}

.add-task-container {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  width: 120px;
  height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.add-task-btn {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 2px 10px 2px;
  text-align: center;
}

.add-task-angle {
  /* padding: 10px 2px 10px 2px; */
  transform: translateY(2px);
  color: white;
  font-size: 14px;
}
.hover {
  color: var(--highlight_color);
}
