/* New CSS */


.body{
  background-color: var(--midnight-layer1);
}

.landing-logo {
  width: 27rem;
  height: 27rem;
  margin: auto;
}

.btn-container{
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}
.btn{
  background-color: var(--button);
  border-radius: 0.625rem;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-hero{
  font-size: 1.5rem;
  padding: 1rem 4rem;
  width: 17.5rem;
  height: 4.5rem;
}

.btn-link{
  background-color: transparent;
  text-decoration: underline;
  color: var(--primary-green);
  font-size: 1.5rem;
  padding: 1rem 4rem;
  width: 17.5rem;
  height: 4.5rem;
}
.font-header {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  text-transform: uppercase;
}
.font-hero{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  min-width: 36.5rem; /* Might need to remove this for phones.*/
}
.font-content{
  font-size: 2rem;
}
.font-sub-content{
  font-size: 1.2rem;
}
.font-mission{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  margin: 2.5rem 0rem;
}

.wrapper{
  display: grid;
  grid-gap: 16rem;
  margin: 6rem 6rem;
  color: white;
}

.landing-hero-container{
  display: grid;
  grid-gap: 3rem;
}
.landing-mission-container{
  display: grid;
  grid-gap: 3rem;
}

.mission-toolbar-container{
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    'timeblock-tool task-tool capture-tool'
  ;
  align-items: center;
}
.mission-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  min-height: 21.75rem;
}

@media(max-width: 1280px) {
  .mission-toolbar-container{
    grid-template-areas: 
    'timeblock-tool' 
    'task-tool' 
    'capture-tool'
  ;
  }
}

.landing-timeblock-container{
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
  'landing-timeblock-img landing-timeblock-body'
  ;
}
.landing-timeblock-header{

}
.landing-timeblock-text{

}

.landing-task-container{
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
  'landing-task-body landing-task-img'
  ;
}

.landing-team-container{
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 
  'landing-team-header'
  'landing-team-deck'
  'landing-support'
  ;
}
.landing-team-header{
  margin-bottom: 4rem;
}
.landing-team-deck{
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 
  'card1 card2 card3'
  ;
}
.landing-team-card{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: var(--midnight-layer2);
  border-radius: 0.8rem;
  width: 18rem;
  height: 24rem;
  box-shadow: var(--box-shadow);
}
.landing-team-text{
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
}
.teamcard-title{
  color: white;
  padding-bottom: 0.25rem;
}
.teamcard-position{
  color: var(--font-gray);
}
.user-icon{
  background-color: var(--midnight-layer1);
  width: 10rem;
  height: 10rem;
  padding: 1.3rem;
  border-radius: 5rem;
  color: var(--primary-green);
  margin: 1.3rem 1.3rem 2.8rem 1.3rem;
}
.landing-support{
  justify-self: center;
  align-items: center;
  text-align: center;
  width: auto;
  margin: 8rem;
  box-shadow: var(--box-shadow);
}

@media(max-width: 1280px) {
  .landing-team-deck{
    grid-template-areas: 
    'card1' 
    'card2' 
    'card3'
  ;
  }
  .landing-team-card{
    margin: 2rem 0rem;
  }
}

/* ------------------------------------ */

.scroll-container{
  scroll-snap-type: y mandatory;
}
.scroll-child{
  scroll-snap-align: start;
  height: 40rem;
}

.scroll-container,
.scroll-child {
  max-width: 100vw ;
}

/* Landing Page Styling */
.font-item{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.font-call2action{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
.font-item-green{
    color: var(--primary-green);
}

.font-item-translate1 {
    transform: translateX(13rem);
  }
  .font-item-translate2 {
    transform: translateX(8rem);
  }

.landing-page {
    background-color: var(--midnight-layer1);
    /* background: radial-gradient(var(--midnight-layer1), var(---midnight-layer1)); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .landing-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .landing-section-mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 120px 30px 30px 30px;
    margin-top: 20rem;
    margin-bottom: 25rem;
  }
  .landing-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 180px 30px 30px 30px;
  }
  .landing-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 120px 30px 30px 30px;
    margin-top: 320px;
  }
  
  .landing-section4 {
    display: flex;
    flex-direction: column;
    padding: 120px 0px 60px 0px;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    .landing-section {
      flex-direction: column;
    }
  }
  
  .landing-element {
    color: white;
  }
  
  .landing-item {
    color: white;
    font-family: "Inter", sans-serif;
  }


  .landing-taskpanel-header-pos {
    position: relative;
    transform: translateX(-8rem) translateY(-14rem);
  }

  .landing-item-taskpanel-text {
    text-align: center;
    margin: 4rem 0rem 2rem 5rem;
    width: 40rem;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(112, 112, 112);
    transform: translateX(5rem);
  }

  .landing-call2action {
    margin: 12rem 0rem 0rem 0rem;
  }
  .landing-btn-signup {
    margin: 2.5rem 0rem 0rem 0rem;
    padding: 1rem 6rem;
    border: 2px solid var(--primary-green);
  }
  .landing-btn-signup:hover{
      border: 2px solid var(--primary-green);
      background-color: var(--midnight-layer1);
  }

  .landing-tasks-image {
    width: 34rem;
    height: 30rem;
    position: relative;
    transform: translateX(100px) translateY(-75px);
  }
  .landing-timeblock-image{
    width: 38rem;
    height: 31rem;
    position: relative;
    transform: translateX(-4rem) translateY(-10rem);
  }
  
  .landing-roadmap-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .roadmap-item-R {
    color: var(--primary-green);
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .roadmap-item-M {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .upper-roadmap-text,
  .lower-roadmap-text {
    color: white;
  }
  .landing-timeline-image {
    display: flex;
    position: relative;
    width: 100%;
  }
  .mission-toolbar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
      margin-bottom: 5rem ;
  }
  .mission-toolbar-item{
      padding: 0rem 9rem;
      cursor: pointer;
  }
  .mission-toolbar-item:hover{
      color: var(--primary-green);
  }