.fade-out {
  width: 5px;
  opacity: 0.3;
  background: rgba(31, 31, 31, 0.3);
}

/* Task List Styling */

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-shell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.task-container {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.task-item {
  display: flex;
  padding: 6px 12px 6px 6px;
  border: solid 0.5px var(--mid-gray);
  border-radius: 6px;
  box-shadow: var(--task-shadow);
  color: white;
  min-height: 50px;
  max-height: 500px;
  min-width: 25%px;
  width: 95%;
  background-color: var(--mid-gray2);
}

.task-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: calc(4px + 0.5rem) 0.6rem;
  margin-left: 0.2rem;
}

.task-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-right .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.task-element {
  align-self: flex-start;
  text-align: left;
}
.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.task-title {
  margin-right: auto;
  overflow-x: hidden;
  cursor: pointer;
  font-weight: 600;
}
.task-body {
  display: flex;
  flex-direction: column;
}
.task-details {
  white-space: pre-wrap;
  font-weight: 400;
  color: var(--text-gray2);
  font-size: 0.96rem;
}
.task-lastrow {
  display: flex;
  flex-direction: row;
  padding-top: 0.8rem;
}
.task-duedate,
.task-reminder {
  display: flex;
  flex-direction: row;
}

.duedate, .reminder {
  padding: 3px 4px;
  margin-right: 0.5rem;
}
.duedate {
  border: solid 1px var(--top-gray2);
  background-color: var(--top-gray);
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-green);
}
.reminder {
  border: solid 1px var(--top-gray2);
  background-color: var(--top-gray);
  border-radius: 5px;
  cursor: pointer;
  color: var(--light-orange);
}

.duedate:hover,
.reminder:hover {
  border: solid 1px var(--mid-gray);
  background-color: var(--top-gray2);
  color: rgb(255, 255, 255, 0.8);
}

.sidebar-divider {
  margin: 0.5rem 0.2rem;
  color: var(--text-gray1);
  outline-color: var(--text-gray1);
  border-color: var(--text-gray1);
}

.task-grip-invisible {
  position: absolute;
  left: 5px;
  top: 9px;
  z-index: -1;
  color: transparent;
}

.task-grip {
  position: absolute;
  left: -2px;
  top: 9px;
  color: rgb(255, 255, 255, 0.5);
  transition: 0.1s ease-in-out;
}

.task-grip:hover {
  position: absolute;
  color: var(--accent-green);
}

.task-icons {
  margin: 4px;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;
}

/* Need to fix the translation work so that we don't get */
/* The flicker effect on all elements. */

/* .invisible-icons {
      position: relative;
      z-index: -10;
      transition: 1.5s ease-in-out;
    }
    
    .task-icons-hover {
      position: relative;
      z-index: 1;
      transition: 1.5s ease-in-out;
    } */

.task-icons button {
  margin: 0.3rem;
  padding: 0.2rem;
  border: none;
  background-color: transparent;
  color: var(--text-gray1);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.task-icons button:hover {
  color: var(--accent-green);
}

.task-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.task-buckets {
  display: flex;
  flex-direction: row;
  border-left: 2px solid #aaa;
  padding-left: 0.5rem;
}

.task-bucket {
  padding: 3px 4px;
  margin-right: 0.5rem;
  border: solid 1px var(--top-gray2);
  background-color: var(--top-gray);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.5);
}
.task-bucket:hover {
  border: solid 1px var(--mid-gray);
  background-color: var(--top-gray2);
  color: rgb(255, 255, 255, 0.8);
}
.task-complete {
  font-size: min(1rem);
}
.task-complete:hover {
  cursor: pointer;
  user-select: none;
}

/* NEW TASK */

.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
    align-items: flex-start;
    margin: auto;
    width: 35%;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-task-container h3 {
    margin: 0.6rem 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.add-task-container h2 {
  font-size: 1.3rem;
}

.add-task-container textarea, .add-task-container input {
    background-color: var(--mid-gray2);
    padding: 0.8rem;
    resize: none;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Inter';
    color: var(--text-gray2);
    font-size: 0.9rem;
}

.add-task-container textarea {
  width: 100%;
}

.add-task-container input {
  width: 80%;
}

.add-task-buttons button {
    padding: 0.4rem 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.add-task-buttons {
    margin-top: 0.8rem;
}

.add-task-buttons .cancel {
    background-color: var(--top-gray);
    color: var(--text-gray2);
    border: solid 2px var(--danger);
    margin-right: 0.4rem;
    transition: 0.2s ease-in-out;
}

.add-task-buttons .cancel:hover {
    background-color: var(--danger);
}

.add-task-buttons .submit {
    background: var(--button);
    color: white;
    transition: 0.2s ease-in-out;
}

.add-task-buttons .submit:hover {
    background: var(--button-hover);
}

.is-editing .add-task-container {
    background-color: var(--top-gray2);
    padding: 1.2rem;
    margin: 0.8rem;
    border-radius: 8px;
}

.task-editor-area {
    display: flex;
    justify-content: center;
}