
.left-sidebar-sm-tb {
    position: relative;
    width: 4rem;
    min-height: 100vh;
    left: 0px;
    background-color: var(--mid-gray);
    float: left;
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

.toolbar-element-tb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 4rem 0rem;
  }
  
  .toolbar-element-tb:hover {
    /* background-color: var(--base-gray);
    color: var(--button); */
    cursor: pointer;
    user-select: none;
    border-right: solid .25rem var(--primary-green);
  }
  
  .toolbar-item-tb {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  .toolbar-item-title-tb{
    position: absolute;
    left: 4rem;
    font-size: 1rem;
    font-weight: 300;
    transition:  400ms ease-in-out;
  }
  
  .toolbar-sort-tb {
    display: flex;
    margin-right: 1%;
  }



  /* Categories Modal */

  .modal-cats {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 17.5rem;
    height: 100%;
    max-height: 30rem;
    background-color: var(--base-gray2);
    color: white;
    border-radius: 10px;
    z-index: 1000;
  }

  .modal-container-cats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 16rem;
    min-width: 16rem;
  }

  .modal-row-cats {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .modal-row-content-cats {
    min-height: 20rem;
    max-height: 20rem;
    align-items: flex-start;
    overflow-y: auto;
  }
  .modal-header-cats {
    display: flex;
    font-weight: 300;
    padding: 0rem 1rem 0rem .6rem;
    border-radius: 5px;
  }

  .modal-group-cats {
    width: 240px;
    height: 30px;
    margin: 1rem 0.5rem;
    padding-left: 0.2rem; 
    border-radius: 5px;
  }
  .modal-element-cats {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: inherit;
  }
  .color-picker-location {
    position: absolute;
    left: 50.25rem;
    top: 10rem;
    z-index: 1010;
  }
  .color-picker-arrow {
    top: 45%;
    right: -14px;
    width: 0;
    height: 0;
    transform: translate(-46%, -50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    z-index: 1010;
    position: absolute; 
  }
  .compact-picker {
    background-color: white;
    border: transparent;
  }
  .modal-item-cats {
    display: flex;
    align-items: center;
    padding: 0px 6px 0px 0px;
  }
  .modal-icon-cats {
    font-size: 1.75rem;
  }
  .modal-square-cats{
    margin-right: 0.5rem;
    padding-right: 0.75rem;
    width: 1rem;
    height: 1rem;
    border-radius: .1rem;
  }
  
  .modal-input-cats {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    height: 20px;
    width: 150px;
  }
  
  .modal-input-cats:focus {
    outline: none;
    border: 2px solid var(--primary-green);
    border-radius: 5px;
  }
  
  /* Custom Classes for specific items in Modal(s) */

  